@charset "UTF-8";
/* Body */
body {
	font-family: 'Inter' , Sans-serif;
	background-color: #656565;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
    padding: 0;
	font-style: normal;
}
/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	min-height: 100vh;
	background-color: #656565;
}
/* Navigation */
header {
	width: 100%;
	height: 5%;
	background-color: #656565;
	margin-top: 30px;
}
.logo {
	color: #F0F0F0;
    margin-left: 5px;
	font-weight: 300;
	text-align: left;
	width: 10%;
	float: left;
	margin-top: 15px;
	letter-spacing: 1px;
}
.logo:hover {
	color: #FF0000;
}


.dark-icon {
    background: #F0F0F0;
    width:20px;
    height:20px;
    border-radius: 50%;
    margin-top:2px;
}
.dark-icon:hover {
    color: #FF0000;
}

.light-icon {
    background: #F0F0F0;
    width:20px;
    height:20px;
    border-radius: 50%;
    margin-top:2px;
}
.light-icon:hover {
    color: #00FFFF;
}

nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 20px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #F0F0F0;
	font-size: 14px;
	text-align: left;
	margin-right: 20px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #F0F0F0;
	font-size: 20px;
	text-decoration: none;
}
ul li:hover a {
	color: #FF0000;
}
.hero_header {
	font-size: 15vh;
	color: #F0F0F0;
	text-align: left;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 0px;
	line-height: 100px;
}
/* Hero Section */
.hero {
	background-color: #656565;
	padding-top: 50px;
	padding-bottom: 50px;
}

.image01 {
    width: 300px;
    height: 300px;
    
    
}

.light {
	font-weight: 300;
	color: #F0F0F0;
}
.copyright {
	text-align: left;
	padding-top: 20px;
	padding-bottom: 5px;
	color: #F0F0F0;
    margin-left: 5px;
	font-weight: 300;
	letter-spacing: 1px;
}

/* Mobile */
@media (max-width: 320px) {
header {
	width: 80%;
	height: 10%;
	background-color: #656565;
	margin-top: 10px;
}

.container {
        display: flex;
        flex-direction: column;
    }   
    
    
.logo {
	font-size: 12px;
	color: #F0F0F0;
	font-weight: 300;
	text-align: left;
	width: 10%;
	float: left;
	margin-top: 20px;
	letter-spacing: 1px;
}
nav {
	float: right;
	width: 100%;
	text-align: right;
	margin-right: 0px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #F0F0F0;
	font-size: 14px;
	text-align: left;
	margin-right: 2px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #F0F0F0;
	font-size: 20px;
	text-decoration: none;
}
.mobilebreak {
	word-break:break-all;
    background: red;
}

.hero .hero_header {
	font-size: 20px;
	padding-right: 10px;
	line-height: 2px;
	letter-spacing: -2px;
	text-align: left;
}
    
.copyright {
	font-size: 12px;
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
	header {
		width: 100%;
		height: 10%;
		background-color: #656565;
		margin-top: 10px;
	}
	.logo {
		font-size: 12px;
		color: #F0F0F0;
		font-weight: 300;
		text-align: left;
		width: 10%;
		float: left;
		margin-top: 20px;
		letter-spacing: 1px;
	}
	nav {
		float: right;
		width: 50%;
		text-align: right;
		margin-right: 0px;
	}
	header nav ul {
		list-style: none;
		float: right;
	}
	nav ul li {
		float: left;
		color: #F0F0F0;
		font-size: 14px;
		text-align: left;
		margin-right: 15px;
		letter-spacing: 2px;
		font-weight: bold;
		transition: all 0.3s linear;
	}
	ul li a {
		color: #F0F0F0;
		font-size: 20px;
		text-decoration: none;
	}
	.mobilebreak {
        overflow: hidden;
		word-break: keep-all;
	}
	
	.hero .hero_header {
		font-size: 42px;
		padding-right: 10px;
		line-height: 42px;
		letter-spacing: -2px;
		text-align: left;
	}
	.copyright {
		font-size: 12px;
	}
	}