::-moz-selection {
    background: transparent;
    text-shadow: none;
}

::selection {
    background: transparent;
    text-shadow: none;
    color: lightgrey;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

::-webkit-scrollbar {
    display: none;
}

.bground-wrap {
    color: green;
}

html {
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Neue ", Helvetica, sans-serif;
    background-color: transparent;
    text-rendering: optimizeLegibility;
}

.browserupgrade {
    margin: 0.2em 0;
    background: white;
    color: white;
    padding: 2em 0;
    font-size: 14px;
}

svg {
    width: 100%;
    height: 100%;
}

img {
    align-content: center;
}

body {
    opacity: 1;
}

.about {
    display: flex;
    right: 20px;
    top: 15px;
    width: auto;
    position: fixed;
    z-index: 99999;
}

.work {
    display: flex;
    right: 20px;
    top: 15px;
    width: auto;
    position: fixed;
    z-index: 99999;
}

text {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.01em;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    margin: 0px;
    padding: 0px;
}

.spacefirst {
    width: 100%;
    height: 13vh;
}

.spacefirstintro {
    width: 100%;
    height: 3.5vh;
}

.space {
    width: 100%;
    height: 25vh;
}

.spacelast {
    width: 100%;
    height: 13vh;
}

.p1 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 1.25;
    letter-spacing: 0em;
    margin: 10px;
    padding: 0px;
    background-color: transparent;
    text-align: left;
    z-index: 999;
    font-weight: 400;
}

.p2 {
    float: right;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 1.25;
    letter-spacing: 0em;
    margin: 10px;
    padding: 0px;
    background-color: transparent;
    text-align: left;
    z-index: 999;
    font-weight: 400;
}

.col1 {
    width: 10%;
}

.col2 {
    width: 20%;
}

.col3 {
    width: 30%;
}

.col4 {
    width: 40%;
}

.col5 {
    width: 50%;
}

.col6 {
    width: 60%;
}

.col7 {
    width: 70%;
}

.col8 {
    width: 80%;
}

.col9 {
    width: 90%;
}

.col10 {
    width: 100%;
}

/*fade */
#fade {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.description {
    padding-top: 15px;
    margin-left: 30%;
    box-sizing: border-box;
    position: fixed;
}

.about {
    right: 20px;
    top: 15px;
    width: auto;
    position: fixed;
    z-index: 9999;
    color: black;
}

.name {
    left: 20px;
    top: 15px;
    width: auto;
    position: fixed;
    z-index: 9999;
    color: black;
}

.name2 {
    left: 20px;
    top: 32px;
    width: auto;
    position: fixed;
    z-index: 9999;
    color: black;
}

.name3 {
    left: 20px;
    top: 30px;
    width: auto;
    position: fixed;
    z-index: 9999;
    color: black;
}

a.here:active,
a.here:visited,
a.here:link {
    color: blue;
    text-decoration: none;
    font-style: normal;
}

a.here:hover {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}

a.here2:active,
a.here2:visited,
a.here2:link {
    color: blue;
    text-decoration: none;
    font-style: normal;
}

a.here2:hover {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}

a.link2:active,
a.link2:visited,
a.link2:link {
    color: blue;
    text-decoration: none;
    font-style: normal;
}

a.link2:hover {
    color: blue;
    text-decoration: none;
}

a {
    color: inherit;
    -o-transition: color 0.33s ease-out, background 0.333s ease-in;
    -ms-transition: color 0.333s ease-out, background 0.333s ease-in;
    -moz-transition: color 0.333s ease-out, background 0.333s ease-in;
    -webkit-transition: color 0.333s ease-out, background 0.333s ease-in;
    transition: color 0.333s ease-out, background 0.333s ease-in;
    text-decoration: none;
}

a:hover {
    color: lightgrey;
    text-decoration: none;
}

.row {
    display: flex;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
}

.row2 {
    display: flex;
    margin: 0px;
    padding-top: 15px;
    padding-left: 20px;
    background-color: transparent;
}

.curvedtext {
    width: 100%;
    color: white;
    position: absolute;
}

@media only screen and (max-width: 1200px) {
    h1 {
        font-family: "Helvetica Neue ", Helvetica, sans-serif;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: normal;
        color: black;
        font-weight: 400;
        margin: 0px;
        padding: 0px;
        background-color: transparent;
        text-align: left;
        z-index: 99;
    }

    .spacefirst {
        width: 100%;
        height: 13vh;
    }

    .spacefirstintro {
        width: 100%;
        height: 8vh;
    }

    .space {
        width: 100%;
        height: 25vh;
    }

    .spacelast {
        width: 100%;
        height: 13vh;
    }

    @media only screen and (max-width: 700px) {
        .col1 {
            width: 100%;
        }

        .col2 {
            margin-top: 30px;
            width: 100%;
        }

        .col3 {
            width: 100%;
        }

        .col4 {
            width: 100%;
        }

        .col5 {
            width: 100%;
        }

        .col6 {
            width: 100%;
        }

        .col7 {
            width: 100%;
        }

        .col8 {
            width: 100%;
        }

        .col9 {
            width: 100%;
        }

        .col10 {
            width: 100%;
        }

        text {
            font-family: "Helvetica Neue", Helvetica, sans-serif;
            -webkit-font-smoothing: antialiased;
            letter-spacing: -0.01em;
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            margin: 0px;
            padding: 0px;
        }

        p {
            padding: 30px;
            font-family: "Helvetica Neue", Helvetica, sans-serif;
        }

        h1 {
            font-family: "Helvetica Neue ", Helvetica, sans-serif;
            font-size: 15px;
            line-height: 1.15;
            letter-spacing: -0.01em;
            font-weight: 400;
            margin: 0px;
            padding: 0px;
            color: black;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
        }

        .about {
            position: fixed;
            display: block;
        }

        .work {
            position: absolute;
            display: block;
        }

        /*
    [data-image-id="imagefirst"]{ 
    height: auto;
    padding-top:50px;
    margin: auto;}
*/

        .p2 {
            margin-right: 20px;
        }

        .name3 {
            left: 20px;
            top: 30px;
            width: auto;
            position: fixed;
            z-index: 9999;
            color: black;
        }

        img {
            align-content: center;
            padding-left: 0px;
            padding-right: 0px;
        }

        img #nature-icon {
            padding-left: 200px;
        }

        .spacefirst {
            width: 100%;
            height: 50px;
        }

        .space {
            width: 100%;
            height: 20px;
        }

        .spacelast {
            width: 100%;
            height: 20px;
        }

        .row {
            display: block;
        }

        .row2 {
            display: block;
        }
    }

    @media only screen and (max-width: 420px) {

        /*
[data-image-id="ImageCentre"]{ 
    height: 100vh;
    padding: 5%;
    margin: auto;}
*/
        .p2 {
            margin-right: 20px;
        }

        .spacefirst {
            width: 100%;
            height: 50px;
        }

        .space {
            width: 100%;
            height: 20px;
        }

        .spacelast {
            width: 100%;
            height: 20px;
        }
    }

    /* ==========================================================================
   Helper classes
   ========================================================================== */

    /*
 * Hide visually and from screen readers
 */

    .hidden {
        display: none !important;
    }

    /*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

    .visuallyhidden {
        border: 0;
        clip: rect(0 0 0 0);
        -webkit-clip-path: inset(50%);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap;
        /* 1 */
    }

    /*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

    .visuallyhidden.focusable:active,
    .visuallyhidden.focusable:focus {
        clip: auto;
        -webkit-clip-path: none;
        clip-path: none;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
        white-space: inherit;
    }

    /*
 * Hide visually and from screen readers, but maintain layout
 */

    .invisible {
        visibility: hidden;
    }

    /*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

    .clearfix:before,
    .clearfix:after {
        content: " ";
        /* 1 */
        display: table;
        /* 2 */
    }

    .clearfix:after {
        clear: both;
    }

    @media only screen and (min-width: 35em) {
        /* Style adjustments for viewports that meet the condition */
    }

    @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
        /* Style adjustments for high resolution devices */
    }

    /* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

    @media print {

        *,
        *:before,
        *:after {
            background: transparent !important;
            color: #000 !important;
            /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
            box-shadow: none !important;
            text-shadow: none !important;
        }

        a,
        a:visited {
            text-decoration: underline;
        }

        a[href]:after {
            content: " ("attr(href) ")";
        }

        abbr[title]:after {
            content: " ("attr(title) ")";
        }

        /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

        a[href^="#"]:after,
        a[href^="javascript:"]:after {
            content: "";
        }

        pre {
            white-space: pre-wrap !important;
        }

        pre,
        blockquote {
            border: 1px solid #999;
            page-break-inside: avoid;
        }

        /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

        thead {
            display: table-header-group;
        }

        tr,
        img {
            page-break-inside: avoid;
        }

        p,
        h2,
        h3 {
            orphans: 2;
            widows: 2;
        }

        h2,
        h3 {
            page-break-after: avoid;
        }
    }
}

.gifsplay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.trashsplay {
    display: flex;
    align-items: center;
    justify-content: center;
}

