*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: 0 0;
  text-decoration: none;
  outline: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "kern", "liga", "clig", "calt";
}
.rubik-variable {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.outfit-variable {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
:root {
  --c-bg: hsl(0, 0%, 98%);
  --c-bg-alt: hsl(0, 0%, 96%);
  --c-text: #444;
  --c-text-alt: #555;
  --f-family: "Rubik", "Outfit", serif;
  --f-size: 15px;
  --f-height: 28px;
  --f-weight: 400;
  font-size: var(--f-height);
  font-family: var(--f-family);
  font-weight: var(--f-weight);
  background: var(--c-bg);
  color: var(--c-text);
}
em {
    font-weight: 100;
}
body {
  font-size: 15px;
  line-height: 28px;
}
header {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  padding: 3rem 1rem 1rem;
}
@media (min-width: 600px) {
  header {
    padding: 5rem 3rem 3rem;
  }
}
@media (min-width: 900px) {
  header {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1400px) {
  header {
    grid-template-columns: 1fr 2fr;
  }
}
header h2 {
  font-style: italic;
}
header h1,
header h2 {
  font-size: 17px;
  line-height: 28px;
}

header h1 :hover{
  color:#0000FF;
}

h3 {
  font-size: 17px;
  padding-bottom: 2rem;
}

.intro {
  max-width: 65ch;
}
.intro p {
  color: var(--c-text-alt);
}
.intro p:not(:last-child) {
  margin-bottom: 1rem;
}
.intro a {
  text-decoration: underline;
  text-decoration-color: currentcolor;
  text-decoration-thickness: auto;
  text-decoration-color: #0000FF;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 0.025rem;
  text-underline-offset: 0.25rem;
  transition: opacity 0.5s;
}
.intro a:hover {
  color:#0000FF;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  padding: 0 1rem;
}


.portfolio-img { 
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  position: relative;
  background: var(--c-bg-alt);
  border-radius: 5px;
}


.project-img {
  display: grid;
  width: 100%;
  height: 60%;
  aspect-ratio: 1/1;
  position: relative;
  background: var(--c-bg-alt);
  border-radius: 5px;
}

.project-content-img {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-rows: 1fr auto;
}


@media (min-width: 600px) {
  .portfolio {
    padding: 0 3rem;
  }
}
@media (min-width: 800px) {
  .portfolio {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1400px) {
  .portfolio {
    grid-template-columns: repeat(3, 1fr);
  }
}
.outro,
footer {
  display: grid;
  grid-gap: 1rem;
}
.outro {
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
}
footer {
  grid-template-columns: 1fr 1fr;
  padding: 0 1rem 1rem;
  height: 50vh;
  height: 50svh;
  align-content: end;
}
@media (min-width: 600px) {
  footer {
    padding: 0 3rem 1rem;
  }
}
@media (min-width: 1400px) {
  footer {
    grid-template-columns: 1fr 2fr;
  }
}
footer small {
  font-size: 12px;
  line-height: 28px;
  font-style: italic;
}
@media (max-width: 799px) {
  footer small:last-child {
    justify-self: end;
  }
  .intro-hidden {
    display: none;
  }
  .credits {
    display: none;
  }
}
.project {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  position: relative;
  background: var(--c-bg-alt);
  border-radius: 5px;
}

.project-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-rows: 1fr auto;
}

.project-image {
  margin: auto;
  width: 60%;
  height: auto;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  transition: transform 300ms ease-out, box-shadow 300ms ease-out;
}

.project-image-small {
  margin: auto;
  width: 30%;
  height: auto;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  transition: transform 300ms ease-out, box-shadow 300ms ease-out;
}

.project-video {
  margin: auto;
  width: 50%;
  height: auto;
  border-radius: 40px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  transition: transform 300ms ease-out, box-shadow 300ms ease-out;
}

.project:hover .project-image {
  transform: scale(1.01) translateY(-0.25rem);
  box-shadow: rgba(149, 157, 165, 0.15) 0 10px 26px;
}
.project-caption {
  display: block;
  padding: 1rem;
}

.project:hover {
  color:#0000FF;
}

.credits {
  font-size: 12px;
  line-height: 28px;
  color: var(--c-text-alt);
  font-style: italic;
}